* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: river;
    src: url(fonts/river.ttf);
  }
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(9, 9, 9) ;
}
.buscador{
  width: 30px;
  color:rgb(9, 9, 9);
}
img {
  width: 100%;
  /* margin-bottom: 10px;  */
}
footer{
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  /* margin-bottom: 20px; */
}
header {
  
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  
}
.input {
  width: 50% !important;
}
h1 {
  color: rgb(17, 16, 16);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}
#selecProduc {
  width: 50%;
}
#boton-carrito {
  border: none;
  color: rgb(12, 12, 12);
  /* font-size: 40px; */
  background-color: white;
  /* border-radius: 50%; */
  background: border-box;
  padding: 8px 18px;
  transition: all 0.3s;
}
#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(225, 76, 65);
}
#boton-carrito:focus {
  outline: none;
}
.chan{
    display: block;
    position: relative; 
    right: 0;
    top: 0;
    height: 22px;
    width: 22px;
    text-align: center;
}
#contenedor-productos {
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
p {
  line-height: 1.8;
}
.producto {
  background-color: brown;
  max-width: 30% ;
  padding:  10px 20px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.producto:hover{
  box-shadow: 0 10px 16px 0  rgb(107, 16, 16);
}
.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: white;
  border: 1px solid rgb(225, 76, 65);
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(225, 76, 65);
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(225, 76, 65);
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
}
.card .card-image .card-title {
  color: rgb(225, 76, 65);
  position: unset;
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  background-color: rgb(221, 150, 150);
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}

#btnLogin{
  background: border-box;
  border: none;
  display: block;
  position: relative; 
  right: -4%;
  top: 0;
  height: 50px;
  width: 50px;
  text-align: center;
} 




@media (max-width: 1023px){
.nav-search input[type=text].nav-search-input, .nav-search input[type=search].nav-search-input {
    padding-top: 5px;
    padding-bottom: 7px; 
  }
}

@media (max-width: 1023px){
input[type=text].nav-search-input, input[type=search].nav-search-input {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  }
}

@media (max-width: 1023px){
.nav-footer, input[type=text].nav-search-input, input[type=search].nav-search-input {
    background-color: #fff;
  }
}

input[type=text].nav-search-input, input[type=search].nav-search-input {
  background-color: rgba(255,255,255,.7);
  border: none; 
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 915;
}
input[type=text].nav-search-input, input[type=search].nav-search-input {
  border: 0 rgba(0,0,0,.2);
  color: #333;
  font-size: 16px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 80%;
  height: 100%;
  margin: 0;
  background-color: #fff; 
  padding: 6px 6px 6px 35px; 
  -webkit-box-shadow: none;
  box-shadow: none; 
  font-family: inherit;
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  padding: 1px 2px;
}
user agent stylesheet
input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}



